---
import Layout from "../layouts/Layout.astro";
const pageLink = "blog";
const pageTitle = "私のAstro学習ブログ";
---
<Layout title={pageTitle} currentPage={pageLink}>
  <h1>{pageTitle}</h1>
  <p>hogehoge</p>
</Layout>