---
import Layout from "../layouts/Layout.astro";

const pageTitle = "サークル紹介冊子";
const pageLink = "circle-booklet";
---

<Layout title={pageTitle} currentPage={pageLink}>
		<h1>{pageTitle}</h1>
</Layout>
