---
import Layout from "../layouts/Layout.astro";
const pageTitle = "新歓イベント情報";
const pageLink = "events-info";
---
<Layout title={pageTitle} currentPage={pageLink}>
	<h1>{pageTitle}</h1>
  <!--ちゃんとコンポーネントにした方がいいかも-->
  <!--新人教育として使えそうなので残しとく-->
  <div class="event-box">
    <h2>サークル紹介動画</h2>
    <p class="date">3/6 ~ 4/30 公開</p>
    <h3>概要</h3>
    <p>電通大のサークルをYouTubeで各サークルのメンバーが紹介してくれます。 興味ある団体はもちろん、なんだろうと思った団体も是非見てみてください</p>
    <h3>会場</h3>
    <p>紹介動画が上がる当委員会のチャンネルは<a href="https://www.youtube.com/channel/UCN_bfnQRqPlW3zXSYd3sCfQ">こちら</a></p>
    <h3>注意</h3>
    <p>3/6の18;00から順次公開を開始し、4/30まで公開いたします。
      サークル紹介動画をあげていないサークルも存在しますので、気になった際には<a href="">新歓冊子</a>やサークルSNSアカウントリストなどをご確認ください。
    </p>
  </div>

  <div class="event-box">
    <h2>各施設によるサークルとの交流会</h2>
    <p class="date">~ 4/12 開催</p>
    <h3>概要</h3>
    <p>電気通信大学のキャンパス内にいろいろなサークルが出張中！マップを見て、気になるサークルに足を運んでみましょう！</p>
    <h3>マップ</h3>
    <img src="/map0407.png" alt="4月7日のマップ" />
  </div>

  <div class="event-box">
    <h2>SNS企画(X)</h2>
    <h3>概要</h3>
    <p>
      電通大ではX(旧Twitter)が盛んです。 ということはもちろん、Xのいたるところでサークル紹介も行われています！<br>
      当委員会のXでは、3月31日まで毎日サークル紹介ポストを投稿しています<br>
      まずはこちらを見てみてはいかがでしょうか<br>

      また<a href="https://marshmallow-qa.com/o3hn7ydzs1j2c9?t=hqySL5&utm_medium=url_text&utm_source=promotion">マシュマロ</a>では、新入生のお悩みに当委員会がお答えします。 匿名なのでお気軽にどうぞ～～</p>
  </div>
</Layout>

<style>
  h1 {
    color: #333333;
    padding-left: 0.5rem;
  }
  .date {
    font-size: 18px;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  .event-box {
    background-color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
  
  .event-box h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 1.5rem;
    border-bottom: 3px solid pink;
  }
  .event-box h3 {
    padding-left: 0.5rem;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    border-left: solid 5px pink;
  }
  .event-box a {
    color: rgb(199, 109, 124);
    font-weight: bold;
  }
  .event-box img {
    height: auto;
    max-width: 100%;
  }
</style>