---
import Layout from "../layouts/Layout.astro";
import Notices from "../components/Notices.astro";
import Events from "../components/Events.astro";
import Twitter from "../components/Twitter.astro";
import { events } from "../Data/events.js";

const pageTitle = "電通大新歓公式サイト";
const pageLink = "";
const notices = await Astro.glob('./notices/*.md');

const noticeList = notices.map((notice) => {
  return {
    title: notice.frontmatter.title,
    date: notice.frontmatter.date,
    url: notice.url,
    content: notice.compiledContent(),
  };
});

noticeList.sort((a, b) => {
  const dateA = new Date(a.date).getTime() || 0;
  const dateB = new Date(b.date).getTime() || 0;
  return dateB - dateA;
});
---
<Layout title={pageTitle} currentPage={pageLink}>
	<div class="slide">
		<img src="/slide1.png"/>
	</div>
  <main class="main-content">
    <div class="left-column">
      <section class="notices-events">
        <Notices notices={noticeList} />
        <Events events={events} />
      </section>
    </div>
    <div class="right-column">
      <Twitter url="https://x.com/uecshinkan_info/status/1896893395639124192" />
      <Twitter url="https://x.com/uecshinkan_info/status/1906557074672062736" />
      <Twitter url="https://x.com/uecshinkan_info/status/1897460946404348401" />
    </div>
  </main>
</Layout>

<style>
  .slide img {

	width: 100%;
	height: auto;
	object-fit: cover;
	margin-top: 1rem;
  }
</style>