---
import Layout from "../layouts/Layout.astro";

const pageTitle = "シールラリー特設サイト";
const pageLink = "seal-rally";
---

<Layout title={pageTitle} currentPage={pageLink}>
		<h1>{pageTitle}</h1>
</Layout>
