---
import Navigation from "./Navigation.astro";
const { currentPage } = Astro.props;
---
<header>
    <img src="/logo.png" alt="Logo"/>

    <nav>
        <ul>
            <Navigation pageTitle="Home" link="" currentPage={currentPage}/>
            <Navigation pageTitle="新歓イベント" link="events-info" currentPage={currentPage}/>
            <Navigation pageTitle="サークル紹介" link="blog" currentPage={currentPage}/>
            <Navigation pageTitle="お問い合わせ" link="contact" currentPage={currentPage}/>
        </ul>
    </nav>
</header>

<style>
    header {
        padding: 1rem;
        background-color: #fafafa;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;
    }
    header img {
        width: 150px;
        height: auto;
        margin: 0rem;
        padding: 0rem;
    }
    header h1 {
        font-weight:  bold;
        font-size: 20px;
    }
    ul {
        display: flex;
        align-items: center;
        gap: 32px;
        font-size: 18px;
        font-weight: bold;
    }
</style>