---
const { pageTitle, link, currentPage } = Astro.props;
const isContact = pageTitle === 'Contact';
const isCurrent = link === currentPage;
---
<li>
    <a 
        href={`/${link}`} 
        class={`${isContact ? 'contact' : ''} ${isCurrent ? 'current' : ''}`}
    >
        {pageTitle}
    </a>
</li>
<style>
    li {
        list-style: none;
    }
    a {
        color: inherit;
        text-decoration: none;;
    }
    a:hover {
        text-decoration: underline;
    }
    .current {
        text-decoration: underline;
    }
    .contact {
        background-color: #ec407a;
        color: #fff;
        padding: 6px 16px;
        border-radius: 6px;
    }
</style>